@import "variables";

.app {
  text-align: center;
}

.app-header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .lang-container{
    z-index: 3;
    top: 20px;
    padding: 0 15px;
    color: white;

    span{
      outline: none;
    }
  }
}

.app-header img {
  width: 100%;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.app-header-name {
  border: 2px @white solid;
  color: @white;
  z-index: 2;
  padding: 35px 100px;
  text-shadow: 1px 1px 30px @black;
}

.app-header-name .name {
  text-transform: uppercase;
  font-size: 45px;
  margin: 0;
}

.app-header-name .job {
  font-size: 30px;
  padding-top: 10px;
}

.app-title {
  font-size: 1.5em;
}

.arrow-container {
  position: absolute;
  left: 50%;
  bottom: 0;
}

.app-intro .intro-title {
  text-transform: uppercase;
}

.app-intro .section-body {
  margin: 0 auto;
  width: 50%;
}

.app-intro h2 {
  margin-bottom: 60px;
}

.app-intro .intro-text {
  text-align: justify;

  a {
    color: white;
  }
}

.app-intro .intro-text img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
}

.app-intro .intro-text span {
  width: calc(~"100% - 215px");
  float: left;
}

#app-xp {
  background: @white;
  color: @red;

  .section-body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    .skill-chart {
      width: 30%;

      .radial-progress {
        margin: auto;
      }
    }
  }
}

#app-studies {
  .section-container {
    width: 60%;

    .studies-header {
      display: flex;
      text-align: left;
      justify-content: space-between;

      a {
        width: 25%;
        #exiaLogo {
          width: 100%;
          align-self: baseline;
        }
      }

      .studies-bloc {
        width: 70%;

        a {
          float: right;    
          width: auto;
        }

        blockquote {
          text-align: justify;
        }
      }
    }

    .studies-xp {
      text-align: left;
      margin-top: 40px;

      .xp-bloc {
        display: flex;

        .xp-date {
          width: 30%;
          line-height: 20px;
        }

        .xp-text {
          width: 70%;
        }
      }

      .xp-title {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover i {
      opacity: 0.7;
    }
  }
}

#app-pro {
  background: @white;
  color: @red;

  .section-container {
    width: 60%;
    text-align: left;
  }
}

.app-navbar{    
  height: 50px;
  background: #17a2b8;
  color: white;
  display: none;
  position: fixed;    
  z-index: 3;
  width: 100%;
  justify-content: center;

  &.is-active{
    display: flex;
  }

  .nav-tab-container{    
    display: flex;
    .nav-tab{
      width: 170px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }

    a {
      &:hover{
        background-color: rgba(255,255,255,.1);
      }

      &.active .nav-tab {
      background: #1f9aae;
      }
    }
  }
}

#app-contact{
  .section-body{
    p {
      text-align: left;
    }
  }
}

.lang-container{
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  height: 50px;
  width: 60px;
  justify-content: space-around;

  span {
    cursor: pointer;
    height: 50px;    
    line-height: 50px;
    color: #ffffff8c;

    &.is-active{
      color: white;
    }
  }

  div {
    height: 50px;    
    line-height: 47px;
  }
}

//Global stuff

blockquote {
  quotes: "«\00A0" "\00A0»";
  margin: 0;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(~"100vh + 60px");
  width: 100%;
  background: @grey;
  color: @white;
  position: relative;
}

input, textarea {
  padding: 5px;
  background-color: #ffffff24;    
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 2px;
  width: 350px;

  &:focus{
    outline: none;
  }
}

label:after {
  content: "*";
  padding-left: 3px;
  color: #ff675f;
}

button {    
  height: 30px;
  padding: 5px;
  background-color: #ff675f;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 360px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.navbar-placeholder{
  width: 100%;
  height: 50px;
}

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(~"100% - 100px");
  margin: 50px 0;
  width: 100%;
}


// < 1250px width Responsive

@media only screen and (max-width: 1250px) {
  .app-navbar .nav-tab-container .nav-tab{
    width: 130px;
  }

  .app-header{
    overflow: hidden;
    img{
      height: 100vh;
      width: auto;
      transform: scale(2,2);
      filter: blur(1px);
    }
  }  
  
  .app-intro .intro-text {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    span {
      width: auto;
    }

    img{
      width: 150px;
      height: 150px;
      margin-bottom: 5px;
    }
  }
}

// < 500px width Responsive => mobile mode

@media only screen and (max-width: 600px) {

  // Global 

  body{
    font-size: 14px;
  }

  .desktop-only{
    display: none !important;
  }

  .app-navbar .nav-tab-container .nav-tab{
    width: 130px;
  }

  section{
    overflow: hidden;
    height: 100vh;

    .section-container{
      margin: 0;
      height: auto;
      width: 100% !important;
      min-height: 75%;
      justify-content: space-evenly;

      .section-body{
        width: 95%;
      }
    }
  }

  .next-arrows-container{
    height: 55px !important;
  }

  .app-navbar{
    display: none !important;
  }

  h3 {
    margin: 10px 0;
  }
  h2{
    margin-bottom: 20px !important;
  }

  input, textarea{
    width: calc(~'100% - 10px');
  }

  button{
    width: 100%;
  }

  // APP HEADER
  .app-header{
    .app-header-name{
      padding: 0;
      border: none;

      .name{
        font-size: 11vw;
      }
      .job{
        font-size: 7.5vw;
      }
    }
  }

  // APP INTRO 

  .app-intro{

    .section-body{
      width: auto;
    } 
  }

  // APP XP

  #app-xp{
    .section-body .skill-chart{
      width: auto;
    }
  }

  ///// SKILL Chart /////
  .skill-chart{
    margin:0 !important;

    .radial-progress{
      transform: scale(0.85);
    }

    h3{
      font-size: 14px;
      margin: 0;
    }
  }

  // APP SCHOOL
  #app-studies{
    .section-container .studies-header {
      flex-direction: column;
      align-items: center;

      .studies-bloc{
        width: 100%;
      }

      a {
        width: 40%;
        margin-bottom: 5vh;
      }
    }
    
    .section-container .studies-xp{
        width: 100%;
        margin-top: 5vh;

        .xp-title{
          font-size: 17px;
        }

        .xp-bloc{
          .xp-date{
            padding-right: 5px;
          }
        }
    }
  }

  // APP PRO
  .pro-bloc{
    .pro-text {
      .pro-title{
        margin-top: 0;
        margin-bottom: 0;
        line-height: 20px;
      }

      .pro-body{
        font-size: inherit !important;
        margin: 5px 0;

        li{
          font-size: 13px !important;
        }
      } 
    }
  }
  
  
// < 330px width Responsive => small mobile mode

  @media only screen and (max-width: 330px) {
    .pro-bloc .pro-text .pro-body li {
      font-size: 12px !important;
    }
  }
}