@import "variables";

.app {
  text-align: center;
}

.app-header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-header img {
  width: 100%;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.app-header-name {
  border: 2px @white solid;
  color: @white;
  z-index: 2;
  padding: 35px 100px;
  text-shadow: 1px 1px 30px @black;
}

.app-header-name .name {
  text-transform: uppercase;
  font-size: 45px;
  margin: 0;
}

.app-header-name .job {
  font-size: 30px;
  padding-top: 10px;
}

.app-title {
  font-size: 1.5em;
}

.arrow-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  padding-bottom: 40px;
}

.app-header .arrow-container {
  padding-bottom: 0;
}

.app-intro .intro-title {
  text-transform: uppercase;
}

.app-intro .section-body {
  margin: 0 auto;
  width: 50%;
}

.app-intro h2 {
  margin-bottom: 60px;
}

.app-intro .intro-text {
  text-align: left;
}

.app-intro .intro-text img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
}

.app-intro .intro-text span {
  width: calc(~"100% - 215px");
  float: left;
}

#app-xp {
  background: @white;
  color: @red;

  .section-body {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    .skill-chart {
      width: 30%;

      .radial-progress {
        margin: auto;
      }
    }
  }
}

#app-studies {
  .section-container {
    width: 60%;

    .studies-header {
      display: flex;
      text-align: left;
      justify-content: space-between;

      a {
        width: 25%;
        #exiaLogo {
          width: 100%;
          align-self: baseline;
        }
      }

      .studies-bloc {
        width: 70%;

        a {
          float: right;
        }

        blockquote {
          text-align: justify;
        }
      }
    }

    .studies-xp {
      text-align: left;
      margin-top: 40px;

      .xp-bloc {
        display: flex;

        .xp-date {
          width: 30%;
          line-height: 20px;
        }

        .xp-text {
          width: 70%;
        }
      }

      .xp-title {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover i {
      opacity: 0.7;
    }
  }
}

#app-pro {
  background: @white;
  color: @red;

  .section-container {
    width: 60%;
    text-align: left;

    .section-body{
      width: 100%;
    }

    .pro-bloc {
      display: flex;

      .pro-date {
        width: 30%;
        line-height: 20px;
      }

      .pro-text {
        width: 70%;
      }
    }
  }
}

.app-navbar{    
  background: #17a2b8;
  color: white;
  display: none;
  position: fixed;    
  z-index: 3;
  width: 100%;
  justify-content: center;

  &.is-active{
    display: flex;
  }

  .nav-tab-container{    
    display: flex;
    .nav-tab{
      width: 140px;
      padding: 15px; 
      cursor: pointer;
    }

    a {
      &:hover{
        background-color: rgba(255,255,255,.1);
      }

      &.active .nav-tab {
      background: #1f9aae;
      }
    }
  }
}

#app-contact{
  .section-body{
    p {
      text-align: left;
    }
  }
}

//Global stuff

blockquote {
  quotes: "«\00A0" "\00A0»";
  margin: 0;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(~"100vh + 60px");
  width: 100%;
  background: @grey;
  color: @white;
  position: relative;
}

input, textarea {
  padding: 5px;
  background-color: #ffffff24;    
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 2px;
  width: 350px;

  &:focus{
    outline: none;
  }
}

label:after {
  content: "*";
  padding-left: 3px;
  color: #ff675f;
}

button {    
  height: 30px;
  padding: 5px;
  background-color: #ff675f;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 360px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.navbar-placeholder{
  width: 100%;
  height: 50px;
}

.section-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(~"100% - 100px");
  margin: 50px 0;
  width: 100%;
}